@page
@model ECommerceRazor.Pages.Categorias.CrearModel
@{
    ViewData["Title"] = "Crear Categoria";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4><i class="bi bi-plus-lg"></i> Crear nueva categoría</h4>
        </div>

        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Categoria.Nombre" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-tag-fill"></i></span>
                        <input asp-for="Categoria.Nombre" class="form-control" placeholder="Ingresa el nombre de la categoría" />
                    </div>
                    <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Categoria.OrdenVisualizacion" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-tag-fill"></i></span>
                        <input asp-for="Categoria.OrdenVisualizacion" class="form-control" placeholder="Ingresa el orden de la categoría" />
                    </div>
                    <span asp-validation-for="Categoria.OrdenVisualizacion" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-page="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-counterclockwise"></i> Regresar
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-check-lg"></i> Guardar
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
