html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Estilos botones ver detalle*/
.btn-outline-dark:hover {
    background-color: #343a40; /* Oscurece el fondo */
    color: #ffffff; /* Cambia el texto a blanco */
    transform: scale(1.05); /* Añade un ligero zoom */
}

.btn-outline-dark:hover i {
    transform: rotate(360deg); /* Gira el ícono */
    transition: transform 0.4s ease; /* Suaviza la animación */

}
